<article class="tab-pane fade" role="tabpanel" aria-labelledby="llanfairpwllgwyngyll-left-tab" id="billing">
    <table class="table table-borderless billing">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Total</th>
    </tr>
    </thead>
    #Dummy Data
    <tbody>
    <tr>
        <th scope="row"><img src="/assets/table.jpeg" alt="Movie" class="table-img"></th>
        <td>Something</td>
        <td>09/09/21</td>
        <td>***4015 Visa</td>
        <td>$12.34</td>
    </tr>
    <tr>
        <th scope="row"><img src="/assets/table.jpeg" alt="Movie" class="table-img"></th>
        <td>Something</td>
        <td>09/09/21</td>
        <td>***4015 Visa</td>
        <td>$12.34</td>
    </tr>
    <tr>
        <th scope="row"><img src="/assets/table.jpeg" alt="Movie" class="table-img"></th>
        <td>Something</td>
        <td>09/09/21</td>
        <td>***4015 Visa</td>
        <td>$12.34</td>
    </tr>
    </tbody>
    </table>     
</article>