<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
               <img src="/assets/logo.png" alt="Logo" class="logo"> 
            </div>
            <div class="col-md-2">
                <h5>About us</h5>
                <ul>
                    <li><a href=""></a>Home</li>
                    <li><a href=""></a>Shows</li>
                    <li><a href=""></a>Our Story</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>More info</h5>
                <ul>
                    <li><a href=""></a>Terms of Service</li>
                    <li><a href=""></a>Privacy Policy</li>
                    <li><a href=""></a>More Legal Notices</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Contact us</h5>
                <ul>
                    <li><a href=""></a>Customer Support</li>
                    <li><a href=""></a>press@kinoklik.ca</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Follow us on:</h5>
                <div class="footer-links">
                  <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                  <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.facebook.com/"><i class="fab fa-linkedin"></i></a>
                  <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
