<div class="home-banner">
  <video id="VideoBackground" poster="" autoplay muted loop>
    <source src="https://res.cloudinary.com/dytygekbn/video/upload/v1629319118/KinoKlik_Explainer_Video_gw9hjk.mp4" type="video/mp4">
  </video>
    <div class="row justify-content-end">
      <div class="col-md-6 mt-5">
        <div class="card-wbody">
          <h3 class="card-title">Welcome to KinoKlik!</h3>
          <h5 class="card-text mt-4">Best Platform For Independent Movies</h5>
            <div class="card-section">
              <p class="text-headers-style"> Subscribe for only 4.99$/Month</p>
              <div class="card-section">
                <%= link_to "Subscribe", movies_path, { class: "btn btn-success" } %>
              </div>

          </div>
        </div>
      </div>
    </div>
</div>
